<h2>Update Employee Details</h2>

{{#if msg}}
<div class="alert alert-danger alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>{{msg}}</strong>
</div>
{{/if}}

{{#each emp}}
  <form action="EmpUpdate" method="POST">
    <div class="form-group">
      <label>eid</label>
      <input type="number" class="form-control" id="eid" placeholder="Enter employee Id" name="eid" value={{this.eid}} readonly>
    </div>

    <div class="form-group">
      <label>ename</label>
      <input type="text" class="form-control" id="ename" placeholder="Enter employee name" name="ename" value={{this.ename}}>
    </div>

    <div class="form-group">
      <label>salary</label>
      <input type="number" class="form-control" id="salary" placeholder="Enter employee salary" name="salary" value={{this.salary}}>
    </div>

    <div class="form-group">
      <label>address</label>
      <input type="text" class="form-control" id="address" placeholder="Enter employee address" name="address" value={{this.address}}>
    </div>

    <input type="submit" class="btn btn-primary" value="Update">
  </form>
{{/each}}